/soap-service-prototype/.idea/
/soap-service-prototype/soap-service-prototype.iml
/multitenant-resources-pool/multitenant-resources-pool.iml
/.idea/
/effective-cache/effective-cache.iml
/java-examples.iml
